<div class="container-fluid booktemplate-page">
  <div class="row-fluid">
    <!-- control buttons mobile -->
    <div class="col-xs-12 hidden-sm hidden-md hidden-lg stepscontrol-balk stepscontrol-balk-s">
      <%= render "partials/steps-3" %>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="booktemplate-text box">
        <p class="booktemplate-s">
          Jouw gegevens (aflever) adres
        </p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 hidden-xs stepscontrol-balk stepscontrol-balk-s">
      <%= render "partials/steps-3" %>
    </div>
  </div>
  <div class="row-fluid">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name, :bookid => params[:book_id] )) do |f| %>
      <%= f.error_notification %>
      <div class="col-xs-12 col-md-6 booktemplate-variabelen">
        <div class="">
          <div class="booktemplate-text">
            <p class="booktemplate-a">
              Jouw adres (factuuradres)
            </p>
            <span><em>Als je een account hebt, dan worden je gegevens automatisch ingevuld na het inloggen.</em>
            </span>
          </div>

          <%= f.input :email,
                      required: true,
                      autofocus: true ,
                      input_html: { autocomplete: "email" }, label: false , placeholder: "email" %>
          <%= f.input :password,
                      required: true,
                      hint: ("Minimaal #{@minimum_password_length} posities" if @minimum_password_length),
                      input_html: { autocomplete: "new-password" } , label: false , placeholder: "Wachtwoord" %>
          <%= f.input :password_confirmation,
                      required: true,
                      input_html: { autocomplete: "new-password" } , label: false , placeholder: "Herhaal wachtwoord" %>
          <%= f.input :first_name,
                      required: false , label: false , placeholder: "Voornaam" %>
          <%= f.input :last_name,
                      required: true , label: false , placeholder: "Achternaam" %>
          <%= f.input :company_name,
                        required: false , label: false , placeholder: "Bedrijfsnaam" %>
          <%= f.input :streetname_and_number,
                        required: true, input_html: { class: 'input-straat' } , label: false , placeholder: "Straatnaam" %>

          <%= f.input :postalcode,
                        required: true, input_html: { class: 'input-postcode' } , label: false , placeholder: "Postcode" %>
          <%= f.input :city,
                      required: true, input_html: { class: 'input-plaats' }, label: false , placeholder: "Woonplaats" %>

          <%= f.input :phonenumber,
                      required: false , label: false , placeholder: "Telefoonnummer" %>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="">
          <div class="booktemplate-text">
            <p class="booktemplate-a">
              Afleveradres
            </p>
            <span><em>Het is mogelijk het boek op een ander adres af te laten leveren.</em>
            </span>
          </div>
          <div class="check-textbox">
            <input class="check" type="checkbox" id="address2Check"> afleveradres is gelijk aan factuuradres
          </div>
          <div class="address-2" id="address-2" style="display: block">
            <!-- invoer address2 hier -->
            <%#= f.hidden_field :afleveradreshetzelfde, :value => false %>
            <input value="false" type="hidden" name="user[afleveradreshetzelfde]" id="afleveradreshetzelfde">
            <%= f.input :addressee,
                        required: false , label: false , placeholder: "Naam Ontvanger" %>
            <%= f.input :company_name2,
                        required: false , label: false , placeholder: "Bedrijfsnaam" %>
            <%= f.input :streetname_and_number2,
                          required: true, input_html: { class: 'input-straat' } , label: false , placeholder: "Straatnaam" %>
            <%= f.input :postalcode2,
                          required: true, input_html: { class: 'input-postcode' } , label: false , placeholder: "Postcode" %>
            <%= f.input :city2,
                        required: true, input_html: { class: 'input-plaats' }, label: false , placeholder: "Woonplaats" %>
            <%= f.input :country2,
                        required: true, input_html: { class: 'input-plaats' }, label: false , placeholder: "Land" %>
          </div>
          <div class="form-action register-button">
            <%= f.button :submit, "VERDER", class: "knop vooruit" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
