<div class="container-fluid booktemplate-page">
  <div class="row-fluid">
    <div class="col-md-6 col-xs-12" style="height: 100px">

      <h3>Jouw gegevens</h3>
      <p>Persoonlijke gegevens worden niet voor commerciele doeleinden gebruikt.</p>

    </div>
    <div class="col-md-6 col-xs-12">
      <div class="stepscontrol-balk stepscontrol-balk-s">
        <div class="control-button control-button-s terug">1</div>
        <div class="control-button control-button-s terug">2</div>
        <div class="control-button control-button-s nu">3</div>
        <div class="control-button control-button-s vooruit">4</div>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="col-md-12 home1">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>
        <div class="user-input">
          <div class="form-inputs">

            <%= f.input :email,
                        required: true,
                        autofocus: true ,
                        input_html: { autocomplete: "email" }, label: false , placeholder: "email" %>
            <%= f.input :password,
                        required: true,
                        hint: ("Minimaal #{@minimum_password_length} posities" if @minimum_password_length),
                        input_html: { autocomplete: "new-password" } , label: false , placeholder: "Wachtwoord" %>
            <%= f.input :password_confirmation,
                        required: true,
                        input_html: { autocomplete: "new-password" } , label: false , placeholder: "Herhaal wachtwoord" %>
            <%= f.input :first_name,
                        required: false , label: false , placeholder: "Voornaam" %>
            <%= f.input :last_name,
                        required: true , label: false , placeholder: "Achternaam" %>
<div class="flex2">
             <%= f.input :streetname,
                        required: true, input_html: { class: 'input-straat' } , label: false , placeholder: "Straatnaam" %>
            <%= f.input :streetnumber,
                        required: true, input_html: { class: 'input-number' }, label: false, placeholder: "Nr." %>
            <%= f.input :number_extension,
                        required: false, input_html: { class: 'input-number' }, label: false, placeholder: "Extra" %>
</div>
<div class="flex2">

            <%= f.input :postalcode,
                        required: true, input_html: { class: 'input-postcode' } , label: false , placeholder: "Postcode" %>
            <%= f.input :city,
                        required: true, input_html: { class: 'input-plaats' }, label: false , placeholder: "Woonplaats" %>
</div>
            <%= f.input :phonenumber,
                        required: false , label: false , placeholder: "Telefoonnummer" %>
          </div>
        </div>
        <div class="form-action">
          <%= f.button :submit, "Ga verder", class: "knop nu" %>
        </div>
      <% end %>
    </div>
    <div class="col-md-12">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
