<!-- input for fixed test booktext01 -->
<!-- <div class="spread"> -->
  <div class="page-size-voorleesboek-ingrid front">
    <div class="content-voorleesboek-ingrid content-voorleesboek-ingrid-p1">
      <div class="tekstbox-voorleesboek-ingrid-p1">
        Boekje voor <span class="answerq1"> NAAM </span>
      </div>
    </div>
  </div>
<!-- </div> -->
<!-- This will be: @booktemplatetexts[0], @booktemplatetexts[1] etc  -->
<input type="hidden" id="tekst1" data-txt="<%= @booktemplatetexts[0]%>">
<input type="hidden" id="tekst2" data-txt="<%= @booktemplatetexts[1]%>">
<input type="hidden" id="tekst3" data-txt="<%= @booktemplatetexts[2]%>">
<input type="hidden" id="tekst4" data-txt="<%= @booktemplatetexts[3]%>">
<input type="hidden" id="tekst5" data-txt="<%= @booktemplatetexts[4]%>">
<input type="hidden" id="tekst6" data-txt="<%= @booktemplatetexts[5]%>">
<input type="hidden" id="tekst7" data-txt="<%= @booktemplatetexts[6]%>">
<input type="hidden" id="tekst8" data-txt="<%= @booktemplatetexts[7]%>">
<input type="hidden" id="tekst9" data-txt="<%= @booktemplatetexts[8]%>">
<input type="hidden" id="tekst10" data-txt="<%= @booktemplatetexts[9] %>">
<input type="hidden" id="tekst11" data-txt="<%= @booktemplatetexts[10] %>">
<input type="hidden" id="tekst12" data-txt="<%= @booktemplatetexts[11] %>">
<input type="hidden" id="tekst13" data-txt="<%= @booktemplatetexts[12] %>">
