<div class="container-fluid hidden-xs">
  <div class="row-fluid">
    <div class="container-blok col-sm-6 col-md-4">
      <div class="inner-blok home-page-blok">
        Sub Category
        <p><%= @subcategory.name  %></p>
      </div>
    </div>
    <% @booktemplates.each do |b| %>
      <%= link_to booktemplate_path(b) do %>
        <div class="container-blok col-sm-6 col-md-4">
          <div class="inner-blok home-page-blok">
            <%= b.name %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<div class="hidden-sm hidden-md hidden-lg">
  <div class="mobile-blok home-page-blok">
    Sub Category
    <p><%= @subcategory.name  %></p>
  </div>
  <% @booktemplates.each do |b| %>
    <%= link_to booktemplate_path(b) do %>
      <div class="mobile-blok home-page-blok">
        <%= b.name %>
      </div>
    <% end %>
  <% end %>
</div>
