<div class="user-page">
  <h4>Klant / User pagina</h4>

  <table class="user-details">
    <tr>
      <td>Naam:</td>
      <td><%= @user.first_name %> <%= @user.last_name %></td>
    </tr>
    <tr>
      <td>Email:</td>
      <td><%= @user.email %></td>
    </tr>
  </table>

  <table class="order-details">
    <tr>
      <h4>Orders</h4>
    </tr>
    <tr>
      <th>goto</th>
      <th>#</th>
      <th>date</th>
      <th>Booktemplate</th>
      <th>aantal:</th>
      <th>amount</th>
    </tr>
      <% @orders.each do |o| %>
        <tr class="order-line">
          <td>

    <%= link_to "boek", edit_book_path(o.book_id), class: "knop"%>
          </td>
          <td><%= o.id  %></td>
          <td><%= o.created_at.strftime("%d %b, %Y") %></td>
          <td><%= o.book.booktemplate.name %></td>
          <td><%= o.number_of_books %></td>
          <td>€ <%= o.order_amount %>,-</td>
        </tr>
      <% end  %>
  </table>

  <h4>Stempels</h4>
  <div class="loyalty-points">
    <% @user.loyalty_points.times { %>
      <%= image_tag "BVJ_logo_blanco.png", class: "logo"  %>
    <% } %>
  </div>

    <%= link_to "contact gegevens", edit_user_path, class: "knop vooruit"%>

  <% if @user.admin %>
    <%= link_to "Booktemplates", booktemplates_path, class: "knop"%>
  <% end %>
</div>
