<div class="navbar-main navbar-h">
    <%= link_to root_path do %>
      <%= image_tag "BVJ_logo_blanco.png", class: "logo"  %>
    <% end %>
  <div class="navbar-section hidden-xs">
    <div class="dropdown">
      <span class="dropdown-toggle navbar-item-right" data-toggle="dropdown">
        makers voor jou
      </span>
      <ul class="dropdown-menu dropdown-menu-right navbar-dropdown-menu">
        <li><a href="#">over vormgevers</a></li>
        <li><a href="#">algemene voorwaarden</a></li>
      </ul>
    </div>
    <div class="dropdown">
      <span class="dropdown-toggle navbar-item-right" data-toggle="dropdown">
        zakelijk
      </span>
      <ul class="dropdown-menu dropdown-menu-right navbar-dropdown-menu">
        <li><a href="#">zakelijk 1</a></li>
        <li><a href="#">zakelijk 2</a></li>
      </ul>
    </div>
    <div class="dropdown">
      <span class="dropdown-toggle navbar-item-right far-right" data-toggle="dropdown">
        contact
      </span>
      <ul class="dropdown-menu dropdown-menu-right navbar-dropdown-menu">
        <li><a href="#">contact</a></li>
      </ul>
    </div>
  </div>
  <!-- Right Navigation -->


  <div class="navbar-item-mobile-right hidden-sm hidden-md hidden-lg">
    <div class="dropdown">
      <i class="material-icons md-36 dropdown-toggle" data-toggle="dropdown">dehaze</i>
      <ul class="dropdown-menu dropdown-menu-right navbar-dropdown-menu">
        <li>
          <%= link_to about_path do %>
            - makers voor jou
          <% end %>
        </li>
        <li>
          <%= link_to root_path do %>
            - zakelijk
          <% end %>
        </li>
        <li>
          <%= link_to root_path do %>
            - contact
          <% end %>
        </li>
    </div>
  </div>
</div>
<div class="navbar2 navbar2-h">
  <div class="navbar-section hidden-xs">
    <div id="save" class="navbar-item2">
      <i class="fas fa-save"></i>
    </div>
    <div id="search" class="navbar-item2">
      <i class="fas fa-search"></i>
    </div>
    <div class="dropdown">
      <i class="dropdown-toggle navbar-item2 fas fa-user-alt" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-dropdown-menu">
        <%= render 'partials/usermenu' %>
      </ul>
    </div>
  </div>
  <div class="navbar-section hidden-sm hidden-md hidden-lg">
    <div id="save" class="navbar-item2-s">
      <i class="fas fa-save"></i>
    </div>
    <div id="search" class="navbar-item2-s">
      <i class="fas fa-search"></i>
    </div>
    <div class="dropdown">
      <i class="dropdown-toggle navbar-item2-s fas fa-user-alt" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-dropdown-menu">
        <%= render 'partials/usermenu' %>
      </ul>
    </div>
  </div>
</div>

