<div class="navbar-main navbar-h">
  <!-- Logo -->
  <div class="navbar-section"> <!-- should be navbar-left!!! -->
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "bvj.jpg", height: 50 %>
    <% end %>


    <div class="dropdown hidden-xs">
      <span class="dropdown-toggle navbar-item" data-toggle="dropdown">Voorleesboek</span>
      <ul class="dropdown-menu dropdown-menu-left navbar-dropdown-menu">
        <li><a href="#">biologisch verhaal</a></li>
        <li><a href="#">fictief verhaal</a></li>
        <li><a href="#">aftelboek</a></li>
      </ul>
    </div>
    <div class="dropdown hidden-xs">
      <span class="dropdown-toggle navbar-item" data-toggle="dropdown">Invulboek</span>
      <ul class="dropdown-menu dropdown-menu-left navbar-dropdown-menu">
        <li><a href="#">receptieboek</a></li>
        <li><a href="#">gastenboek</a></li>
        <li><a href="#">kraambezoekboek</a></li>
        <li><a href="#">dagboek</a></li>
        <li><a href="#">logboek</a></li>
        <li><a href="#">vriendenboek</a></li>
        <li><a href="#">babyboek</a></li>
      </ul>
    </div>
    <div class="dropdown hidden-xs">
      <span class="dropdown-toggle navbar-item" data-toggle="dropdown">Kalender</span>
      <ul class="dropdown-menu dropdown-menu-left navbar-dropdown-menu">
        <li><a href="#">family planner</a></li>
        <li><a href="#">agenda</a></li>
        <li><%= link_to "verjaardagskalender", booktemplate_path(@booktemplates[1].id)  %></li>
      </ul>
    </div>
  </div>
  <!-- Right Navigation -->
  <div class="navbar-section hidden-xs">
    <div class="dropdown">
      <span class="dropdown-toggle navbar-item" data-toggle="dropdown">Over BOEKJE voor JOU</span>
      <ul class="dropdown-menu dropdown-menu-right navbar-dropdown-menu">
        <li><a href="#">missie</a></li>
        <li><a href="#">contact</a></li>
        <li><a href="#">algemene voorwaarden</a></li>
      </ul>
    </div>
    <div class="dropdown">
      <i class="dropdown-toggle navbar-item fas fa-shopping-cart" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-dropdown-menu">
        <li>
          <%= link_to "#{""}" do %>
            <i class="fas fa-shopping-basket"></i> Shopping basket
          <% end %>
        </li>
        <li>
          <%= link_to new_user_session_path do %>
            <i class="fa fa-sign-in-alt"></i> Log in
          <% end %>
        </li>
        <li>
          <%= link_to new_user_registration_path do %>
            <i class="fa fa-cog"></i> Register
          <% end %>
        </li>
        <li>
          <%= link_to destroy_user_session_path, method: :delete do %>
            <i class="fa fa-sign-out-alt"></i>  Log out
          <% end %>
        </li>
      </ul>
    </div>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-item hidden-sm hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-dropdown-menu">
        <li>
          <%= link_to about_path do %>
            <i class="fas fa-info-circle"></i> Hoe werkt het?
          <% end %>
        </li>
        <li>
          <%= link_to new_user_session_path do %>
            <i class="fa fa-sign-in-alt"></i> Log in
          <% end %>
        </li>
        <li>
          <%= link_to new_user_registration_path do %>
            <i class="fa fa-cog"></i> Register
          <% end %>
        </li>
        <li>
          <%= link_to destroy_user_session_path, method: :delete do %>
            <i class="fa fa-sign-out-alt"></i>  Log out
          <% end %>
        </li>
    </div>
  </div>
</div>

