<!-- pc view -->
<div class="home1 hidden-xs">
    <% @categories.each do |c| %>
      <%= link_to category_path(c), class: "link-to" do %>
      <% image = Image.find(c.image_id) %>
    <div class="home-page-blok home-blok home-blok-h1" style="background-image: url('<%= asset_path image.filename %>')" >
      <div class="home-tekst-blok">
        <%= c.name  %>
      </div>
    </div>
    <% end %>
  <% end %>
</div>
<!--  -->
<!-- mobile view -->
<!--  -->
<div class="hidden-sm hidden-md hidden-lg">
  <% @categories.each do |c| %>
    <%= link_to category_path(c), class: "link-to" do %>
      <% image = Image.find(c.image_id) %>
      <div class="mobile-blok home-page-blok" style="background-image: url('<%= asset_path image.filename %>')">
      <div class="home-tekst-blok">
        <%= c.name  %>
      </div>
      </div>
    <% end %>
  <% end %>
</div>
<!-- all media view -->
<div class="banner banner-h">
  <h4 class="resp1">Boekje voor JOU</h4>
  <%= link_to about_path, class: "link-to" do %>
    <h3 class="resp2">Click her to learn more about book for you.</h3>
  <% end %>
</div>
<!-- PC view -->
<div class="home1 hidden-xs">
  <%= link_to booktemplate_path(1) do  %>
  <div class="home-page-blok home-blok home-blok-h2" style="background-image: url(<%= asset_path 'product-1.jpg' %>)">
    <div class="home-tekst-blok-product">
      € 16,-
    </div>
  </div>
  <% end %>
  <div class="home-page-blok home-blok home-blok-h2" style="background-image: url(<%= asset_path 'product-2.jpg' %>)">
    <div class="home-tekst-blok-product">
      € 43,-
    </div>
  </div>
  <div class="home-page-blok home-blok home-blok-h2" style="background-image: url(<%= asset_path 'product-3.jpg' %>)">
    <div class="home-tekst-blok-product">
      € 33,-
    </div>
  </div>
  <div class="home-page-blok home-blok home-blok-h2" style="background-image: url(<%= asset_path 'product-4.jpg' %>)">
    <div class="home-tekst-blok-product">
      € 29,-
    </div>
  </div>
</div>
<!-- mobile view -->
<div class="hidden-sm hidden-md hidden-lg">
  <%= link_to booktemplate_path(1) do  %>
  <div class="mobile-blok-square home-page-blok " style="background-image: url(<%= asset_path 'product-1.jpg' %>)">
    <div class="home-tekst-blok-product">
      € 23,-
    </div>
  </div>
  <% end %>
  <div class="mobile-blok-square home-page-blok " style="background-image: url(<%= asset_path 'product-2.jpg' %>)">
    <div class="home-tekst-blok-product">
      € 27,-
    </div>
  </div>
  <div class="mobile-blok-square home-page-blok " style="background-image: url(<%= asset_path 'product-3.jpg' %>)">
    <div class="home-tekst-blok-product">
      € 21,-
    </div>
  </div>
  <div class="mobile-blok-square home-page-blok" style="background-image: url(<%= asset_path 'product-4.jpg' %>)">
    <div class="home-tekst-blok-product">
      € 28,-
    </div>
  </div>
</div>
