<%= render "partials/save" %>
<div class="container-fluid booktemplate-page">
  <div class="row-fuid">
    <!-- control buttons mobile -->
    <div class="col-xs-12 hidden-sm hidden-md hidden-lg stepscontrol-balk stepscontrol-balk-s">
      <%= render "partials/steps-2" %>

    </div>
    <!-- end control buttons mobile -->
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="booktemplate-text box">
        <p class="booktemplate-s">
          Inhoud boek
        </p>
        <span><em>
          Teksten en afbeeldingen met een geel kader kun je aanpassen. (Het gele kader is in het drukwerk NIET zichtbaar).</em>
        </span>
      </div>
      <input type="hidden" id="btid" data-tst="jaaa" value="<%= @booktexts.id %>">
    </div>
    <!-- control buttons desktop -->
    <div class="col-xs-12 col-sm-6 col-md-6 hidden-xs stepscontrol-balk stepscontrol-balk-s">
      <%= render "partials/steps-2" %>
    </div>
  </div>
  <div class="row-fluid">
    <div class="col-xs-12 col-sm-6 col-md-6 carousel-div" >
      <div id="spreadCarousel" class="carousel slide swipe" data-ride="carousel" data-wrap="false" data-interval="false">
        <div class="carousel-inner">
          <!-- first item active -->
          <div class="item active" id="page1">
            <div class="item1">
              <%= render "html-templates/edit/#{@booktemplate.HTMLPrefix}_p1" %>
            </div>
          </div>
          <!-- rest of the items -->
          <% @ind = 2 %>
          <% until @ind == @booktemplate.NrOfPages + 1 %>
            <div class="item" id="page<%= @ind %> ">
              <div class="item1">
                <%= render "html-templates/edit/#{@booktemplate.HTMLPrefix}_p#{@ind}" %>
              </div>
            </div>
            <% @ind +=1 %>
          <% end %>
        </div>
        <a class="left carousel-control hidden-xs" href="#spreadCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control hidden-xs" href="#spreadCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
        <!-- Indicators -->
        <%= render 'partials/indicators' %>
        <!-- end indicators -->
      </div>
    </div>
     <!-- start img app -->
    <div class="col-xs-12 col-sm-6 col-md-6 img-div">
      <%= render 'partials/img-select' %>
      <div id="no-image" style="display: block">
        <div class="catlist-flex imglist-categories-box">
          <% @imagecategories.each do |ic| %>
            <div class="category-unavailable-button"><%= ic.name  %><span> &#9711;</span>
            </div>
          <% end %>
        </div>

        <div class="imglist-images-box">
          <div class="booktemplate-text">
            <span>
              <em>
                Er zijn geen alternatieve afbeeldingen beschikbaar.
              </em>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 carousel-button-container">
      <% if user_signed_in? %>
        <%= link_to "VERDER", bookedit2_path(:id => @book.id), class: "knop vooruit carousel-button" %>
      <% else %>
        <%= link_to "VERDER", new_user_registration_path(:book_id => @book.id), class: "knop vooruit carousel-button" %>
      <% end %>
    </div>
  </div>
</div>
