<div class="container-fluid booktemplate-page">
  <div class="row-fuid">
    <div class="col-md-6 hidden-sm hidden-md hidden-lg">
      <div class="stepscontrol-balk stepscontrol-balk-s">
        <div class="control-button-flex">
          <input type="button" value="1" onclick="history.back()" class="control-button control-button-s terug fix">
        </div>
        <div class="control-button-flex">
          <div class="control-button control-button-s nu">2</div>
        </div>
        <div class="control-button-flex">
          <% if user_signed_in? %>
          <%= link_to "3", new_order_path(:book_id => @book.id), class: "control-button control-button-s vooruit" %>
          <% else %>
            <%= link_to "3", new_user_registration_path(:book_id => @book.id), class: "control-button control-button-s vooruit" %>
          <% end %>
        </div>
        <div class="control-button-flex">
            <div class="control-button control-button-s disabled">4</div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6 ">
      <div class="booktemplate-text box">
        <p class="booktemplate-s">
          Inhoud boek
        </p>
        <span><em>
          Teksten en afbeeldingen met een geel kader kun je aanpassen. (Het gele kader is in het drukwerk NIET zichtbaar).</em>
        </span>
      </div>
      <input type="hidden" id="btid" data-tst="jaaa" value="<%= @booktexts[0].id %>">
    </div>


    <!-- control buttons desktop -->
    <div class="col-xs-12 col-sm-6 col-md-6 hidden-xs stepscontrol-balk stepscontrol-balk-s">
        <div class="control-button control-button-s terug" onclick="history.back()">
          1
          <span class="txt">
            VOOR WIE?
          </span>
        </div>
        <div class="control-button control-button-s nu">
          2
          <span class="txt">
            INHOUD BOEK
          </span>
        </div>
        <% if user_signed_in? %>
          <%= link_to new_order_path(:book_id => @book.id), class: "control-button control-button-s vooruit" do %>
            3
            <span class="txt">
              ADRES
            </span>
          <% end %>
        <% else %>
          <%= link_to new_user_registration_path(:book_id => @book.id), class: "control-button control-button-s vooruit" do %>
            3
            <span class="txt">
              ADRES
            </span>
          <% end %>
        <% end %>
        <div class="control-button control-button-s disabled">
          4
          <span class="txt">
            BETALEN
          </span>
        </div>
    </div>
  </div>

  <div class="row-fluid">
    <div class="col-xs-12 col-sm-6 col-md-8 col-lg-6 carousel-div" >
      <div id="spreadCarousel" class="carousel slide swipe" data-ride="carousel" data-wrap="false" data-interval="false">
        <div class="carousel-inner">
          <div class="item active" id="page1">
            <div class="item1">
              <%= render "html-templates/step2/edited/#{@pagetemplates[0].html}" %>
            </div>
          </div>
          <% @count = @pagetemplates.count %>
          <% @ind = 1 %>
          <% until @ind == @count %>
            <div class="item" id="page<%= @ind +1 %> ">
              <div class="item1">
                <%= render "html-templates/step2/edited/#{@pagetemplates[@ind].html}" %>
              </div>
            </div>
            <% @ind +=1 %>
          <% end %>
        </div>
        <a class="left carousel-control" href="#spreadCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#spreadCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
        <!-- Indicators -->
        <div class="indicators-container">
          <ol class="carousel-indicators">
              <% if @booktemplate.id == @booktemplates[0].id %>
                <li data-target="#spreadCarousel" data-slide-to="0" class="active car-indic">
                  <div class="ci-content-cover">
                    <!-- no left page -->
                    <div class="ci-content-r content-voorleesboek-ingrid-p1">
                    </div>
                  </div>
                </li>
                <li data-target="#spreadCarousel" data-slide-to="1" class="car-indic">
                  <div class="ci-content">
                    <div class="ci-content-l">Caption</div>
                    <div class="ci-content-l">Caption</div>
                  </div>
                </li>
                <li data-target="#spreadCarousel" data-slide-to="2" class="car-indic">
                  <div class="ci-content">
                    <div class="ci-content-l">Caption</div>
                    <div class="ci-content-l">
                      Caption<br>
                       <img id="ind3" src="<%= asset_path @booktexts[0].text5 %>" class="img-ic-3">
                    </div>
                  </div>
                </li>
                <li data-target="#spreadCarousel" data-slide-to="3" class="car-indic">
                  <div class="ci-content">
                    <div class="ci-content-l">Caption</div>
                    <div class="ci-content-l">Caption</div>
                  </div>
                </li>
                <li data-target="#spreadCarousel" data-slide-to="4" class="car-indic">
                  <div class="ci-content">
                    <div class="ci-content-l">Caption</div>
                    <div class="dummy-content">

                    </div>
                  </div>
                </li>
              <% else %>
                <li data-target="#spreadCarousel" data-slide-to="0" class="active car-indic tst5"></li>
                <li data-target="#spreadCarousel" data-slide-to="1" class="car-indic tst6"></li>
                <li id="ind3" data-target="#spreadCarousel" data-slide-to="2" class="car-indic tst7"></li>
                <li data-target="#spreadCarousel" data-slide-to="3" class="car-indic tst8"></li>
              <% end %>
          </ol>
        </div>
        <!-- end indicators -->
      </div>
    </div>
     <!-- start img app -->
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <%= render 'partials/img-select' %>
      <div id="no-image" style="display: block">
        <div class="catlist-flex imglist-categories-box">
          <% @imagecategories.each do |ic| %>
            <div class="category-unavailable-button"><%= ic.name  %><span> &#9711;</span>
            </div>
          <% end %>
        </div>

        <div class="imglist-images-box">
          <div class="booktemplate-text">
            <span>
              <em>
                Er zijn geen alternatieve afbeeldingen beschikbaar.
              </em>
            </span>
          </div>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-xs-12">
        <% if user_signed_in? %>
          <%= link_to "VERDER", new_order_path(:book_id => @book.id), class: "knop vooruit carousel-button" %>
        <% else %>
          <%= link_to "VERDER", new_user_registration_path(:book_id => @book.id), class: "knop vooruit carousel-button" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- end carousel -->
<!--
  <div class="row-fuid">
    <div class="col-md-12" style="margin: 50px 0px 10px 0px">
-->
