<div class="container-fluid booktemplate-page">
  <div class="row-fuid">
    <div class="col-md-6">
      <p class="booktemplate">
        Bekijk het boek
      </p>
      <span>
        In de pagina staat aangegeven waar je aanpassingen kunt maken.
      </span>

      <input type="hidden" id="btid" data-tst="jaaa" value="<%= @booktexts[0].id %>">
    </div>
    <div class="col-md-6">
      <div class="stepscontrol-balk stepscontrol-balk-s">

        <input type="button" value="&#x003C" onclick="history.back()" class="control-button control-button-s pijl fix">
        <input type="button" value="1" onclick="history.back()" class="control-button control-button-s terug fix">
        <div class="control-button control-button-s nu">2</div>

        <% if user_signed_in? %>
          <%= link_to "3", new_order_path(@book), class: "control-button control-button-s vooruit" %>
        <% else %>
          <%= link_to "3", new_user_registration_path, class: "control-button control-button-s vooruit" %>
        <% end %>
        <div class="control-button control-button-s disabled">4</div>
        <div class="control-button control-button-s pijl">&#x003E</div>
      </div>
    </div>
  </div>

<div class="row-fluid">
  <div class="col-md-12 carousel" >

<!--  carousel -->

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <% if @booktemplate.id == 1 %>
      <li data-target="#myCarousel" data-slide-to="0" class="active car-indic tst1"></li>
      <li data-target="#myCarousel" data-slide-to="1" class="car-indic tst2"></li>
      <li id="ind3" data-target="#myCarousel" data-slide-to="2" class="car-indic"  style="background-image: url(<%= asset_path @booktexts[0].text5 %>);"></li>
      <li data-target="#myCarousel" data-slide-to="3" class="car-indic" style="background-image: url(<%= asset_path @booktexts[0].text8 %>);"></li>
    <% else %>
      <li data-target="#myCarousel" data-slide-to="0" class="active car-indic tst5"></li>
      <li data-target="#myCarousel" data-slide-to="1" class="car-indic tst6"></li>
      <li id="ind3" data-target="#myCarousel" data-slide-to="2" class="car-indic tst7"></li>
      <li data-target="#myCarousel" data-slide-to="3" class="car-indic tst8"></li>
    <% end %>
<!--     <li data-target="#myCarousel" data-slide-to="2" class="car-indic" style="background-image: url('<%#= asset_path @booktexts[0].img3 %>')"></li>
    <li data-target="#myCarousel" data-slide-to="3" class="car-indic" style="background-image: url('<%#= asset_path @booktexts[0].img4 %>')"></li>
 -->
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
      <div class="item active">
        <div class="item1">
        <%= render "html-templates/step2/edited/#{@pagetemplates[0].html}" %>
        </div>
      </div>
    <% @count = @pagetemplates.count %>
    <% @ind = 1 %>
    <% until @ind == @count %>
      <div class="item">
        <div class="item1">
        <%= render "html-templates/step2/edited/#{@pagetemplates[@ind].html}" %>
        </div>
      </div>
      <% @ind +=1 %>
    <% end %>

  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

  </div>
</div>

<!-- end carousel -->

  <div class="row-fuid">
    <div class="col-md-12">
    </div>
  </div>
  <div class="row-fuid">
    <div class="col-md-12">
      <div class="flex1">
        <!-- <%#= link_to "TERUG", booktemplate_path(@book.booktemplate_id), class: "knop terug" %> -->
        <form>
          <input type="button" value="TERUG" onclick="history.back()" class="knop terug">
        </form>
        <% if user_signed_in? %>
          <%= link_to "KOOP", new_order_path, class: "knop nu" %>
        <% else %>
          <%= link_to "KOOP", new_user_registration_path, class: "knop nu" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
