<div class="container-fluid booktemplate-page">
  <div class="row-fluid">
    <!-- control buttons mobile -->
    <div class="col-md-6 hidden-sm hidden-md hidden-lg stepscontrol-balk stepscontrol-balk-s">
      <div class="control-button control-button-s nu">
        1
        <span class="txt">
          VOOR WIE?
        </span>
      </div>
      <div class="control-button control-button-s vooruit" id="stepscontrolbutton-s<%= @booktemplate.id  %>">
        2
        <span class="txt">
          INHOUD BOEK
        </span>
      </div>
      <div class="control-button control-button-s disabled">
        3
        <span class="txt">
          ADRES
        </span>
      </div>
      <div class="control-button control-button-s disabled">
        4
        <span class="txt">
          BETALEN
        </span>
      </div>
    </div>
    <!-- end control buttons mobile -->
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="booktemplate-text box">
        <p class="booktemplate-s">
          Variabelen
        </p>
        <span><em>
            Deze gegevens worden verwerkt in het boek.</em>
        </span>
      </div>
    </div>
    <!-- control buttons desktop -->
    <div class="col-xs-12 col-sm-6 col-md-6 hidden-xs stepscontrol-balk stepscontrol-balk-s">
      <div class="control-button control-button-s nu">
        1
        <span class="txt">
          VOOR WIE?
        </span>
      </div>
      <div class="control-button control-button-s vooruit" id="stepscontrolbutton<%= @booktemplate.id  %>">
        2
        <span class="txt">
          INHOUD BOEK
        </span>
      </div>

      <div class="control-button control-button-s disabled">
        3
        <span class="txt">
          ADRES
        </span>
      </div>
      <div class="control-button control-button-s disabled">
        4
        <span class="txt">
          BETALEN
        </span>
      </div>
    </div>
    <!-- end control buttons desktop -->
  </div>
  <div class="row-fluid">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-5 booktemplate-variabelen">
      <div class="blok-header">
        Gegevens boek
      </div>
      <% @id = 1 %>
      <%= form_for @booktext, url: booktexts_path, method: :post do |bt| %>
        <% @questions.each do |q| %>
          <% if q.open %>
            <span class="booktemplate-label">
            <%= q.question  %>?</span><br>
            <input required="true" type="text" id="<%= @id %>" placeholder="antwoord" name="text<%= @id %>"><br>
          <% else %>
            <span class="booktemplate-label"><%= q.question  %>?</span><br>
            <select required="true" name="text<%= @id %>" id="<%= @id %>">
              <option hidden disabled selected value> kies uit de lijst </option>
              <% q.answers.each do |a| %>
                <option value="<%= a.answer %>"><%= a.answer %></option>
              <% end %>
            </select><br>
          <% end %>
          <% @id += 1 %>
        <% end %>
        <input type="hidden", name="booktemplate_id", value="<%= @booktemplate.id  %>">
      <% end %>
      <br>
      <!-- get booktemplate_id for ajax save -->
      <input type="hidden", id="btid", value="<%= @booktemplate.id  %>">
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-7 booktemplate-frontpage">
      <div class="blok-header">
        Voorkant boek
      </div>
      <%= render "html-templates/#{@pagetemplates[0].html}" %>
      <div class="page-front-button-ingrid">
        <button class="knop vooruit" id="savebooktext<%= @booktemplate.id  %>">
          VERDER
        </button>
      </div>
    </div>
  </div>
</div>


