<div class="container-fluid booktemplate-page">
  <div class="row-fuid">
    <div class="col-md-6">
      <p class="booktemplate">
        <%= @booktemplate.name  %>
      </p>
      <% @id = 1 %>
      <%= form_for @booktext, url: booktexts_path, method: :post do |bt| %>
        <% @questions.each do |q| %>
          <p class="question"><%= q.question  %>?</p>
          <% if q.open %>
            <input required="true" type="text" id="<%= @id %>" placeholder="vul hier uw antwoord in" name="text<%= @id %>"><br>
          <% else %>
            <select required="true" name="text<%= @id %>" id="<%= @id %>">
              <% q.answers.each do |a| %>
                <option value="<%= a.answer %>"><%= a.answer %></option>
              <% end %>
            </select><br>
          <% end %>
          <% @id += 1 %>
        <% end %>
        <input type="hidden", name="booktemplate_id", value="<%= @booktemplate.id  %>">
        <!-- <%#= bt.submit "Next Step (2)", class: 'knop nu' %> -->
      <% end %>
      <br>
      <!-- get booktemplate_id for ajax save -->
      <input type="hidden", id="btid", value="<%= @booktemplate.id  %>">
      <button class="knop nu hidden-xs" id="savebooktext<%= @booktemplate.id  %>">Stap 2</button>
    </div>
    <div class="col-md-6">
      <div class="stepscontrol-balk stepscontrol-balk-s">
        <div class="control-button control-button-s nu">1</div>
       <button class="control-button control-button-s vooruit fix" id="stepscontrolbutton<%= @booktemplate.id  %>">2</button>
       <div class="control-button control-button-s disabled">3</div>
        <div class="control-button control-button-s disabled">4</div>
      </div>
    </div>
    <div class="col-md-6">
      <%= @pagetemplates[0].name %><br>
      <%= render "html-templates/#{@pagetemplates[0].html}" %>
    </div>
  </div>
</div>

<div class="hidden-xs hidden-sm hidden-md hidden-lg">
  <p class="booktemplate"><%= @booktemplate.name  %></p>
  <% id = 1 %>
  <% @questions.each do |q| %>
    <p class="question"><%= q.question  %>?</p>
    <% if q.open %>
      <input class="input" type="text" id="<%= id %>" placeholder="vul hier uw antwoord in" name="answer"><br>
    <% else %>
      <select class="input" name="answer" id="<%= id %>">
        <% q.answers.each do |a| %>
          <option value="<%= a.answer %>"><%= a.answer %></option>
        <% end %>
      </select><br>
     <% end %>
     <% id += 1 %>
  <% end %>
</div>

