<div class="admin-page">
  <h4>edit Image</h4>
        naam: <%= @image.name %>
      Image Gallery: <%= @image.imagegallery_id %>
      filename: <%= @image.filename %>
      formaat: <%= @image.format %>
      <%=image_tag url_for(@image.image)%>

      <%=image_tag url_for(@image.image_tn)%>
      <br/>
  <%= simple_form_for(@image, url: image_path(@image), html: { method: :patch }) do |f| %>
    <div class="form-inputs">
      <%= f.input :format, label: "formaat", collection: ['l', 's', 'p']%>
      <%= f.input :image, label: "bestand"%>
    </div>
    <div class="form-actions">
      <%= f.button :submit, "Bewaar", class: "knop" %>
    </div>
  <% end %>
</div>
